@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');



:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}



*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}



body{
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #f8fafc;
    padding: 0.1rem;
}

.header{
    background-color: #ffffff;
    border-bottom: 1px solid #e2e8f0;
}

.header-content{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}



.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.625rem;
}

#support-link{
    color: var(--link-color);
}

.logo-icon{
    height: 5.875rem;
    width: 1.938rem;
}



.logo-text{
    /* font-weight: bold;
    font-size: 1.85rem; */
    Font-Size: 1.5rem;
    Font-Weight: 700;
    Color: #2563eb;
}



.nav{
    display: none;
    gap: 1.5rem;
}



@media screen and (min-width: 768px){
    .nav{
    display: flex;
    }
    
}


.nav-link{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    /* transform: 0.1s; */
}



.nav-link:hover{
    color: var(--link-color);
}



.contact-button{
    display: none;
    color: var(--background-color);
    background-color: var(--primary-color);
    border-radius: 0.375rem;
    /* transform: all 0.1; */
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}



@media screen and (min-width: 768px){
     .contact-button{
        display: block;
     }
}



.contact-button:hover{
    background-color: #5254f8;
}


.menu-button{
    border: none;
    display: none;
    background-color: var(--background-color);
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 0.9rem;
}



@media screen and (max-width: 768px){
    .menu-button{
        display: block;
    }
    body{
        width: 200%;
    }
}



.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}

.main-section {
  background-color: var(--color);
  height: 1000px;
}

.select-academic-year {
  height: 250px;
  width: 100%;
  position: relative;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  --color: #E1E1E1;
  background-color: var();
 
}

.academic-year {
  background-color: var(--background-color);
  width: 80%;
  height: 550px;
  position: relative;
  left: 10%;
  color: var(--text-color);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 6px 20px rgba(0, 0, 0, 0.2);
}

.button {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  background-color: var(--link-color);
  text-align: center;
  height: 70px;
  font-weight: bold;
  cursor: pointer;
  padding: 0.7em 2em;
  border: 3px solid var(--primary-color);
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: var(--background-color);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: var(--accent-color);
  z-index: -1;
}

.button:hover, .button:focus {
  color: white;
}

.button:hover:before, .button:focus:before {
  left: 0;
  right: 0;
  opacity: 1;
}

.years {
  background-color: var(--primary-color);
  width: 25%;
  height: 10%;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 10%;
  top: 5%;
  margin: 20px;
  text-align: center;
}

.batch-years {
  background-color: var(--primary-color); 
  width: 15%; 
  height: 10%; 
  border-radius: 6px; 
  display: inline-flex; 
  align-items: center; 
  justify-content: center; 
  position: relative;
  left: 15%; 
  margin: 20px; 
  text-align: center; 
 
}

.Batch {
  margin-left: 20px; 
  margin-top: 80px; 
  height: 50px; 
  }

  
.footer-container{
  background-color: var(--color);
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  margin-top: 230px;
  width: 100%;
}



.footer{
  width: 80%;
  padding: 1.2rem 2.4rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  margin-left: 10%;
  background-color: var(--background-color);
}



.footer-top{
  width: 34%;
  display: flex;
  flex-direction: column;
  gap: 1.65rem;

}



.logo-svg{
  width: 2rem;
  height: 6rem;
}



.social-icon{
  width: 1.5rem;
  height: 1.5rem;
}



.logo-link{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 0.7rem;
  font-size: 1.28rem;
  font-weight: bold;
  Color: #2563eb;;
}



.comp-logo{
  display: flex;
  justify-content: flex-start;
  margin-bottom: -1.9rem;
}



.footer-link:hover{
  color: #2563eb;
}

.filler-text{
  font-size: 1rem;
  color: #777;
}



.footer-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 58%;
  grid-gap: 5.67rem;
  padding-top: 2rem;
}



.footer-grid-heading{
  font-size: 1.05rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 1.65rem;
}



ul{
  list-style-type: none;
}



.footer-link{
  color: #777;
  font-size: 0.875rem;
}


.footer-links-list{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}



.social{
  display: flex;
  gap: 0.8rem;
}



.footer-copyright{
  color: var(--gray);
  font-size: 0.75rem;
  padding-bottom: 2rem;
  border-top: 1px solid #E5E7EB;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  width: 80%;
  margin-left: 10%;
}

.footer-grid .footer-grid-column .footer-links-list li a {
  text-decoration: none;
}



@media screen and (max-width: 1080px){

  .comp-logo {
    width: 250px;
    font-size: larger;
  }

  .filler-text {
    width: 250px;
  }
.footer-container {
  font-size: large;
  overflow: hidden;
}

  .footer{
      flex-direction: column;
      margin: 0;

  }


  .footer-grid{
    grid-template-columns: repeat(2, 1fr);
    
}

.footer-link {
  display: flex;
  text-align: start;
}



}



@media screen and (max-width: 850px){
  .footer-grid{
      grid-template-columns: repeat(2, 1fr);
  }


  .footer-top{
      padding-left: 1rem;
  }

}

@media (max-width: 768px) {
    .navbar {
      opacity: 0.95;
      background-color: var(--primary-color);
    }
  
    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
      display: block;
      color: var(--background-color);
    }
   
    .categories {
        background-color: var(--primary-color);
    }
    .navbar-container {
      display: block;
      background-color: var(--primary-color);
      position: relative;
      height: 64px;
    }
  
    .navbar-container input[type="checkbox"] {
      position: absolute;
      background-color: var(--primary-color);
      display: block;
      height: 32px;
      width: 30px;
      top: 20px;
      left: 20px;
      z-index: 5;
      opacity: 0;
    }
  
    .navbar-container .hamburger-lines {
      display: block;
      height: 23px;
      width: 35px;
      position: absolute;
      top: 17px;
      left: 20px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .navbar-container .hamburger-lines .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: var(--background-color);
    }
  
    .navbar-container .hamburger-lines .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }
  
    .navbar-container .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out;
    }
  
    .navbar-container .hamburger-lines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
  
    .navbar .categories {
      padding-top: 100px;
      background-color: var(--primary-color);
      height: 100vh;
      max-width: 300px;
      transform: translate(-150%);
      display: flex;
      flex-direction: column;
      margin-left: -40px;
      padding-left: 50px;
      transition: transform 0.5s ease-in-out;
      box-shadow: 5px 0px 10px 0px #aaa;
    }
  
    .navbar .categories li {
      margin-bottom: 1.5rem;
      font-size: 1.3rem;
      font-weight: 500;
    }
  
    .logo {
      position: absolute;
      top: 5px;
      right: 15px;
      font-size: 2rem;
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .categories{
      transform: translateX(0);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(35deg);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-35deg);
    }

    a:hover {
        background-color: var(--text-color);
    }

    .academic-year {
      width: 90%;
      position: relative;
      left: 5%;
      height: 80%;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .years {
      width: 70%;
    }

    .batch-years {
      width: 70%;
     position: relative;
     left: 10%;
      
    }

    .selected-branch-h2 {
      font-size: 1rem;
    }

    
}